.summon-banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.summon-banner-container {
  width: clamp(20rem, 90vw, 600px);
  height: 315px;
  background: white;
  margin: 8em;
}

.summon-banner-container,
img {
  transition: all 200ms ease;
}

@media (min-width: 320px) {
  img {
    width: 100%;
    height: 100%;
  }
  .summon-banner-container {
    width: clamp(20rem, 85vw, 600px);
    height: 225px;
    background: white;
    margin: 1em;
  }
}

@media (min-width: 800px) {
  img {
    width: 600px;
    height: 315px;
  }
  .summon-banner-container {
    width: clamp(20rem, 85vw, 600px);
    height: 315px;
    background: white;
  }
}
